*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.txt

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
ProtoClient/hs_err_pid*

# Netbeans specific
ProtoClient/nbproject/private/
ProtoClient/build
ProtoClient/nbbuild
ProtoClient/dist
ProtoClient/nbdist
ProtoClient/nbactions.xml
ProtoClient/nb-configuration.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
ProtoScheduler/hs_err_pid*

# Netbeans specific
ProtoScheduler/nbproject/private/
ProtoScheduler/build
ProtoScheduler/nbbuild
ProtoScheduler/dist
ProtoScheduler/nbdist
ProtoScheduler/nbactions.xml
ProtoScheduler/nb-configuration.xml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
ProtoWorker/hs_err_pid*

# Netbeans specific
ProtoWorker/nbproject/private/
ProtoWorker/build
ProtoWorker/nbbuild
ProtoWorker/dist
ProtoWorker/nbdist
ProtoWorker/nbactions.xml
ProtoWorker/nb-configuration.xml
